.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
releases/**
node_modules/**
**/*.vsix

!goalview/dist/index.js
goalview/**
