@import "tailwindcss";

.action-icon {
    padding: 2px;
    border-radius: 5px;
    color: var(--vscode-list-deemphasizedForeground);
}

.action-icon:hover {
    background-color: var(--vscode-toolbar-hoverBackground, rgba(90, 93, 94, 0.31));
}

.term {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
}

.message {
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
}

.tooltip {
    background: var(--vscode-editorHoverWidget-background);
    color: var(--vscode-editorHoverWidget-foreground);
    border: 1px solid var(--vscode-editorHoverWidget-border);
    padding: 6px 8px;
    border-radius: 4px;
    overflow: auto;
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.3); */
    white-space: normal;
    display: block;
    font-family: inherit;
    overflow-wrap: break-word;
    max-width: 80%;
    max-height: 30%;
}
